
name: Build and Test StudyGen

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    name: Build and Test App
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install and Build Frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Install and Build API
        run: |
          cd api
          npm install
          npm run build
